*{
    padding: 0;
    margin: 0;
  }
  
  .red{
    background-color: #143157;
    color: white;
  }

  a{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #0c181b;
    padding: 5px 10px;
  }

  .navbar-left {
    display: flex;
    gap: 34px;
}

.navbar-left .red {
  background-color: rgb(20, 49, 87);
  color: white;
  text-decoration: none;
}

li{
    list-style: none;
    padding: 20px;
  }
  
  a li{
    color: white;
  }
  
  